<!DOCTYPE HTML>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @RenderSection("styles", required: false)
        @Styles.Render("~/Content/dashboard-css")
        
        
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/jquery-1.7.2.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.11.js"></script>
        <script src="~/Scripts/Dashboard/jquery.dashboard.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
